* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


body {
    font-family: 'Josefin Sans', sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-image: url(/images/desktop/image-hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 1.5rem;
}

.top {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

ul li a:hover{
    border-bottom: 2px solid white;
}

.banner {
    width: 30rem;
    padding: 2rem;
    box-sizing: border-box;
    border: 1.5px solid white;
    position: absolute;
    top: 15rem;
    left: 4rem;
}

.banner h1 {
    font-size: 2.6em;
    font-weight: 100;
    color: white;
}

#btn-mobile{
    display: none;
    padding: 10px;
}

@media (max-width: 600px){

    header{
        background-image: url(/images/mobile/image-hero.jpg);
        background-size: contain;
        height: 650px;
    }

    .banner{
        position: absolute;
        top: 300px;
        left: 20px;
        width: 270px;
    }
    .banner h1{
        font-size: 1.5rem;

    }

    #btn-mobile{
        display: block;
    }

    .top{
        display: none;
    }

}




/* main */
main {
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;
}


.img-interactive img {
    width: 100%;
}

.card-white {
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}

.card-white h1 {
    width: 250px;
    font-size: 40px;
    padding: 10px 0px;
    font-weight: 100;
}

.card-white p {
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 100;
}

.main-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    margin: 5.5rem;
    width: 100px;
}

.main-bottom h2{
    font-weight: 100;
    border: 1px solid black;
    padding: 10px;
}

.main-bottom a{
    color: black;
    text-decoration: none;
}

.main-bottom a:hover{
    background-color: black;
    color: white;
    border: 1px solid white;

}

.galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card {
    width: 280px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

.foto img {
    width: 100%;
}

.information {
    width: 50px;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.information h2 {
    color: white;
    font-weight: 100;
}

.foto:hover {
    filter: brightness(20%);
}


footer {
    background-color: black;
    color: white;
    height: 450px;
    position: relative;
}

.footer-logo {
    padding: 30px 20px;
}

.down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.attribution {
    margin: 30px;
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

i {
    margin: 5px;
    font-size: 30px;
    padding: 10px;
    color: white;
}

i:hover {
    color: hsl(228, 45%, 44%);
}