* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;

}

header {
    position: relative;
    background-image: url(/images/desktop/image-hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-width: 350px;
    position: relative;
}

.logo img {
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: 250px;
}

#header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 85px;
    right: 10px;

}

ul li {
    display: inline;
    padding: 5px;
    font-size: 1em;
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    border-bottom: 1.5px solid white;
}

.banner {
    width: 20rem;
    padding: 2rem;
    box-sizing: border-box;
    border: 2px solid white;
    position: absolute;
    top: 20rem;
    left: 3rem;
}

.banner h1 {
    font-size: 1.6em;
    font-weight: 100;
    color: white;
}

/* main */
main {
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70%;
}


.img-interactive img {
    width: 100%;
}

.card-white {
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}

.card-white h1 {
    width: 250px;
    font-size: 40px;
    padding: 10px 0px;
    font-weight: 100;
}

.card-white p {
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 100;
}

.main-bottom {
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main-bottom h2{
    font-weight: 100;
    border: 1px solid black;
    padding: 10px;
}

.main-bottom a{
    color: black;
    text-decoration: none;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 60px;
}

.card {
    width: 280px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

.foto img {
    width: 100%;
}

.information {
    width: 50px;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.information h2 {
    color: white;
    font-weight: 100;
}

.card:hover {
    filter: brightness(70%);
}


footer {
    background-color: black;
    color: white;
    height: 300px;
    position: relative;
}

.footer-logo {
    padding: 30px 20px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attribution {
    margin: 30px;
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

i {
    margin: 5px;
    font-size: 30px;
    padding: 10px;
    color: white;
}

i:hover {
    color: hsl(228, 45%, 44%);
}